{
  "name": "danler",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/_pages/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"src/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src",
      "src/_pages"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/_pages/add-review.pug",
      "imports": [
        "src/_templates/_text-page-templete.pug",
        "src/_blocks/_breadcrumps/_breadcrumps.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_pages/article.pug",
      "imports": [
        "src/_templates/_text-page-templete.pug",
        "src/_blocks/_breadcrumps/_breadcrumps.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug"
      ]
    },
    {
      "path": "src/_pages/articles.pug",
      "imports": [
        "src/_templates/_text-page-templete.pug",
        "src/_blocks/_pagination/_pagination.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_pages/categories.pug",
      "imports": [
        "src/_templates/_products-template.pug",
        "src/_blocks/_breadcrumps/_breadcrumps.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_left-navigation/_left-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_section-banner/_section-banner.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_pages/contact-info.pug",
      "imports": [
        "src/_templates/_text-page-templete.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_pages/delivery.pug",
      "imports": [
        "src/_templates/_text-page-templete.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_pages/galery.pug",
      "imports": [
        "src/_templates/_text-page-templete.pug",
        "src/_blocks/_pagination/_pagination.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_pages/index.pug",
      "imports": [
        "src/_templates/_index-template.pug",
        "src/_blocks/_last-products/_last-products.pug",
        "src/_blocks/_video/_video.pug",
        "src/_blocks/_excellence/_excellence.pug",
        "src/_blocks/_reviews/_reviews.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_left-navigation/_left-navigation.pug",
        "src/_blocks/_slider/_slider.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_section-banner/_section-banner.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_pages/order.pug",
      "imports": [
        "src/_templates/_text-page-templete.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_pages/packaging.pug",
      "imports": [
        "src/_templates/_text-page-templete.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_pages/product.pug",
      "imports": [
        "src/_templates/_products-template.pug",
        "src/_blocks/_breadcrumps/_breadcrumps.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_left-navigation/_left-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_section-banner/_section-banner.pug"
      ]
    },
    {
      "path": "src/_pages/products.pug",
      "imports": [
        "src/_templates/_products-template.pug",
        "src/_blocks/_breadcrumps/_breadcrumps.pug",
        "src/_blocks/_pagination/_pagination.pug",
        "src/_blocks/_popups/_popup-addcard.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_left-navigation/_left-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_section-banner/_section-banner.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_pages/reviews.pug",
      "imports": [
        "src/_templates/_text-page-templete.pug",
        "src/_blocks/_pagination/_pagination.pug",
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_sass/index.sass",
      "imports": [
        "src/_sass/_default_settings.sass",
        "src/_sass/_container/_container.sass",
        "src/_sass/_section-content/_section-content.sass",
        "src/_sass/_mark/_mark.sass",
        "src/_blocks/_header-page/_header-page.sass",
        "src/_blocks/_mobile-menu/_mobile-menu.sass",
        "src/_blocks/_search-navigation/_search-navigation.sass",
        "src/_blocks/_basket/_basket.sass",
        "src/_blocks/_top-content/_top-content.sass",
        "src/_sass/_section/_section.sass",
        "src/_blocks/_left-navigation/_left-navigation.sass",
        "src/_blocks/_slider/_slider.sass",
        "src/_blocks/_excellence/_excellece.sass",
        "src/_blocks/_main-content/_main-content.sass",
        "src/_blocks/_video/_video.sass",
        "src/_blocks/_reviews/_reviews.sass",
        "src/_blocks/_text-block/_text-block.sass",
        "src/_blocks/_breadcrumps/_breadcrumps.sass",
        "src/_blocks/_section-article/_section-article.sass",
        "src/_blocks/_popups/_popup.sass",
        "src/_blocks/_section-order/_section-order.sass",
        "src/_blocks/_galery/_galery.sass",
        "src/_blocks/_pagination/_pagination.sass",
        "src/_blocks/_reviews-list/_reviews-list.sass",
        "src/_blocks/_add-review/_add-review.sass",
        "src/_blocks/_last-products/_last-products.sass",
        "src/_blocks/_404/_404.sass",
        "src/_blocks/_section-categories/_section-categories.sass",
        "src/_blocks/_section-banner/_section-banner.sass",
        "src/_blocks/_footer-page/_footer-page.sass",
        "src/_blocks/_s-contact/_s-contact.sass",
        "src/_blocks/_section-delivery/_section-delivery.sass",
        "src/_blocks/_s-product/_s-product.sass",
        "src/_blocks/_info/_info.sass",
        "src/_blocks/_about/_about.sass",
        "src/_blocks/_section-products/_section-products.sass",
        "src/_sass/_error/_error.sass",
        "src/_blocks/_header-page/_header-page_md_to_xl.sass",
        "src/_blocks/_footer-page/_footer-page_md_to_xl.sass",
        "src/_sass/_section/_section_md_to_xl.sass",
        "src/_blocks/_main-content/_main-content_md_to_xl.sass",
        "src/_blocks/_popups/_popup_md_to_xl.sass",
        "src/_blocks/_galery/_galery_md_to_xl.sass",
        "src/_blocks/_last-products/_last-products_md_to_xl.sass",
        "src/_sass/_section-content/_section-content_xl.sass",
        "src/_sass/_container/_container_xl.sass",
        "src/_blocks/_header-page/_header-page_xl.sass",
        "src/_blocks/_mobile-menu/_mobile-menu_xl.sass",
        "src/_blocks/_search-navigation/_search-navigation_xl.sass",
        "src/_blocks/_basket/_basket_xl.sass",
        "src/_blocks/_footer-page/_footer-page_xl.sass",
        "src/_sass/_section/_section_xl.sass",
        "src/_blocks/_left-navigation/_left-navigation_xl.sass",
        "src/_blocks/_slider/_slider_xl.sass",
        "src/_blocks/_excellence/_excellece_xl.sass",
        "src/_blocks/_main-content/_main-content_xl.sass",
        "src/_blocks/_video/_video_xl.sass",
        "src/_blocks/_reviews/_reviews_xl.sass",
        "src/_blocks/_text-block/_text-block_xl.sass",
        "src/_blocks/_popups/_popup_xl.sass",
        "src/_blocks/_section-order/_section-order_xl.sass",
        "src/_blocks/_galery/_galery_xl.sass",
        "src/_blocks/_pagination/_pagination_xl.sass",
        "src/_blocks/_reviews-list/_reviews-list_xl.sass",
        "src/_blocks/_add-review/_add-review_xl.sass",
        "src/_blocks/_last-products/_last-products_xl.sass",
        "src/_blocks/_404/_404_xl.sass",
        "src/_blocks/_section-article/_section-article_xl.sass",
        "src/_blocks/_section-categories/_section-categories_xl.sass",
        "src/_blocks/_s-contact/_s-contact_xl.sass",
        "src/_blocks/_s-product/_s-product_xl.sass",
        "src/_blocks/_info/_info_xl.sass",
        "src/_blocks/_about/_about_xl.sass",
        "src/_sass/_section-content/_section-content_xs.sass",
        "src/_sass/_container/_container_xs.sass",
        "src/_blocks/_header-page/_header-page_xs.sass",
        "src/_blocks/_mobile-menu/_mobile-menu_xs.sass",
        "src/_blocks/_search-navigation/_search-navigation_xs.sass",
        "src/_blocks/_basket/_basket_xs.sass",
        "src/_blocks/_footer-page/_footer-page_xs.sass",
        "src/_sass/_section/_section_xs.sass",
        "src/_blocks/_left-navigation/_left-navigation_xs.sass",
        "src/_blocks/_slider/_slider_xs.sass",
        "src/_blocks/_main-content/_main-content_xs.sass",
        "src/_blocks/_video/_video_xs.sass",
        "src/_blocks/_reviews/_reviews_xs.sass",
        "src/_blocks/_excellence/_excellece_xs.sass",
        "src/_blocks/_text-block/_text-block_xs.sass",
        "src/_blocks/_popups/_popup_xs.sass",
        "src/_blocks/_section-order/_section-order_xs.sass",
        "src/_blocks/_galery/_galery_xs.sass",
        "src/_blocks/_pagination/_pagination_xs.sass",
        "src/_blocks/_reviews-list/_reviews-list_xs.sass",
        "src/_blocks/_add-review/_add-review_xs.sass",
        "src/_blocks/_last-products/_last-products_xs.sass",
        "src/_blocks/_404/_404_xs.sass",
        "src/_blocks/_section-article/_section-article_xs.sass",
        "src/_blocks/_section-categories/_section-categories_xs.sass",
        "src/_blocks/_s-contact/_s-contact_xs.sass",
        "src/_blocks/_s-product/_s-product_xs.sass",
        "src/_blocks/_info/_info_xs.sass",
        "src/_blocks/_about/_about_xs.sass",
        "src/_blocks/_section-products/_section-products_xs.sass",
        "src/_blocks/_search-navigation/_search-navigation_xs_to_xl.sass",
        "src/_blocks/_header-page/_header-page_xs_to_xl.sass",
        "src/_blocks/_left-navigation/_left-navigation_xs_to_xl.sass",
        "src/_blocks/_add-review/_add-review_xs_to_xl.sass",
        "src/_blocks/_section-categories/_section-categories_xs_to_xl.sass",
        "src/_blocks/_text-block/_text-block_xs_to_xl.sass",
        "src/_sass/_section-content/_section-content_md.sass",
        "src/_sass/_container/_container_md.sass",
        "src/_blocks/_header-page/_header-page_md.sass",
        "src/_blocks/_mobile-menu/_mobile-menu_md.sass",
        "src/_blocks/_search-navigation/_search-navigation_md.sass",
        "src/_blocks/_basket/_basket_md.sass",
        "src/_blocks/_footer-page/_footer-page_md.sass",
        "src/_sass/_section/_section_md.sass",
        "src/_blocks/_left-navigation/_left-navigation_md.sass",
        "src/_blocks/_slider/_slider_md.sass",
        "src/_blocks/_excellence/_excellece_md.sass",
        "src/_blocks/_main-content/_main-content_md.sass",
        "src/_blocks/_video/_video_md.sass",
        "src/_blocks/_reviews/_reviews_md.sass",
        "src/_blocks/_text-block/_text-block_md.sass",
        "src/_blocks/_popups/_popup_md.sass",
        "src/_blocks/_section-order/_section-order_md.sass",
        "src/_blocks/_galery/_galery_md.sass",
        "src/_blocks/_pagination/_pagination_md.sass",
        "src/_blocks/_reviews-list/_reviews-list_md.sass",
        "src/_blocks/_add-review/_add-review_md.sass",
        "src/_blocks/_last-products/_last-products_md.sass",
        "src/_blocks/_section-article/_section-article_md.sass",
        "src/_blocks/_section-categories/_section-categories_md.sass",
        "src/_blocks/_s-contact/_s-contact_md.sass",
        "src/_blocks/_s-product/_s-product_md.sass",
        "src/_blocks/_info/_info_md.sass",
        "src/_blocks/_about/_about_md.sass",
        "src/_blocks/_section-products/_section-products_md.sass",
        "src/_sass/_variables.sass",
        "src/_sass/_functions.sass",
        "src/_sass/_mixins.sass",
        "src/_sass/_fonts.scss",
        "src/libs/fancybox/jquery.fancybox-dist.scss",
        "src/libs/owl-carousel-js/owl.theme.default.min.scss",
        "src/libs/owl-carousel-js/owl.carousel.scss",
        "src/_sass/font-awesome.scss",
        "src/_sass/font-icons.scss"
      ]
    },
    {
      "path": "src/_sass/_default_settings.sass",
      "imports": [
        "src/_sass/_variables.sass",
        "src/_sass/_functions.sass",
        "src/_sass/_mixins.sass",
        "src/_sass/_fonts.scss",
        "src/libs/fancybox/jquery.fancybox-dist.scss",
        "src/libs/owl-carousel-js/owl.theme.default.min.scss",
        "src/libs/owl-carousel-js/owl.carousel.scss",
        "src/_sass/font-awesome.scss",
        "src/_sass/font-icons.scss"
      ]
    },
    {
      "path": "src/_templates/_index-template.pug",
      "imports": [
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_left-navigation/_left-navigation.pug",
        "src/_blocks/_slider/_slider.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_section-banner/_section-banner.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_templates/_products-template.pug",
      "imports": [
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_left-navigation/_left-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_section-banner/_section-banner.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_templates/_text-page-templete.pug",
      "imports": [
        "src/_blocks/_header-page/_header-page.pug",
        "src/_blocks/_mobile-menu/_mobile-menu.pug",
        "src/_blocks/_search-navigation/_search-navigation.pug",
        "src/_blocks/_footer-page/_footer-page.pug",
        "src/_blocks/_popups/_popup-callback.pug",
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_basket/_basket.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_blocks/_footer-page/_footer-page.pug",
      "imports": [
        "src/_blocks/_menu-list/_menu-list.pug",
        "src/_blocks/_social-icon-list/_social-icon-list.pug"
      ]
    },
    {
      "path": "src/_blocks/_header-page/_header-page.pug",
      "imports": [
        "src/_blocks/_menu-list/_menu-list.pug"
      ]
    },
    {
      "path": "src/_blocks/_left-navigation/_left-navigation.pug",
      "imports": [
        "src/_blocks/_section-banner/_section-banner.pug"
      ]
    },
    {
      "path": "src/_blocks/_search-navigation/_search-navigation.pug",
      "imports": [
        "src/_blocks/_basket/_basket.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7892,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "typings",
      "_psd",
      "*.config",
      "*.json",
      ".vs",
      "*.md"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}