section.video
    img.video__img(src="img/video-bg.png", alt="")
    a.video__link(href="javascript:;")
        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16")
            path(d="M8 1c3.9 0 7 3.1 7 7s-3.1 7-7 7-7-3.1-7-7 3.1-7 7-7zM8 0c-4.4 0-8 3.6-8 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8v0z")
            path(d="M6 4v8l6-4z")
.popup-video
    .popup-video__wrap
        a.popup-video__close(href="javascript:;")
        iframe(src="https://www.youtube.com/embed/ESXFanIvoNg" frameborder="0" allowfullscreen)