.slider
    ul.owl-carousel
        li.slider-item
            .typed-string
                span.element#sl_1
            img.slider-item-image(src="http://lorempixel.com/932/620/sports")
        li.slider-item
            .typed-string
                span.element#sl_2
            img.slider-item-image(src="img/slider/slider-2.png")
        li.slider-item
            .typed-string-circle
                span.element#sl_3
            img.slider-item-image(src="img/slider/slider-3.png")
