mixin basketItem()
    li.basket-item
        a.basket-item-delete(href="#")
            span.fa.fa-trash-o(aria-hidden="true")
        img.basket-item-image(src="img/product/product-photo.png")
        a.basket-item-link(href="#") Блок двигателя Мерседес Спринтер 2.2 cdi (Mercedes Sprinter)
        span.basket-item-price
            span.mark_accent-color Цена:
            | 1 234 грн. х 1
        a.basket__link(href="#")
            span.icon-minus
        a.basket__link(href="#")
            span.icon-plus

ul.basket-list
    - for (var x = 0; x < 10; x++)
        +basketItem()
    li.basket-item
        span.basket-item-total-text Итого:
        span.basket-item-total
            span.mark_accent-color 2 468
            |грн.
    li.basket-item
        a.submit(href="#") Оформить заказ
