footer.footer-page
    .footer-page__container.container
        .footer-page__copyright Razborka-avto.com DanLer © 2016
        .footer-page__navigation
            nav.bot-navigation
                include ../_menu-list/_menu-list
        .footer-page__social-icon
            include ../_social-icon-list/_social-icon-list
