extends ../_templates\_text-page-templete
block title
    title Описание статьи
block main_content
    - var pageName = "article"
    section.section.section_full.section-article
        include ../_blocks/_breadcrumps/_breadcrumps
        h1.section__heading Статья
        image.section-article-image(src="img/articles/article-image.png")
        //- .section-article-wrapper
        //-     p.section-article-date
        //-         image.section-article-date-icon(src="img/icon-calendar.png")
        //-         span.section-article-date-text Январь, 17, 2017
        .text-block
            p.text-block-heading Разборка микроавтобусов DanLer
            p.text-block-text Разборка спринтеров
            p.text-block-text Разборка спринтеров у нас осуществляется очень быстро и качественно. Мы выполняем свою работу профессионально. Наши специалисты способны быстро и точно оценить работоспособность той или иной запасной части и общего механизма. После тщательной точной проверки комплектующих и запчастей, убедившись в точной их пригодности, мы их продаем. Разборка спринтеров, как и любых других авто, – это ремесло достаточно сложное. Но наши высококвалифицированные специалисты «творят чудеса». Все пригнанные авто, аккуратно эксплуатировались — ездили по хорошим дорогам, обслуживались в официальных сервисных центрах, в них заливали качественное хорошее топливо. Поэтому все детали, двигателя, запчасти и комплектующие у нас представлены в высоком качестве, покупая оригинальную бу деталь Вы можете быть уверены что она идеально станет на Ваш Мерседес Спринтер и её не придется подгонять по зазорам, в отличии от Китайской подделки. Наши постоянные клиенты знают об этом.
            p.text-block-text Разборка спринтеров
            p.text-block-text Разборка спринтеров у нас осуществляется очень быстро и качественно. Мы выполняем свою работу профессионально. Наши специалисты способны быстро и точно оценить работоспособность той или иной запасной части и общего механизма. После тщательной точной проверки комплектующих и запчастей, убедившись в точной их пригодности, мы их продаем. Разборка спринтеров, как и любых других авто, – это ремесло достаточно сложное. Но наши высококвалифицированные специалисты «творят чудеса». Все пригнанные авто, аккуратно эксплуатировались — ездили по хорошим дорогам, обслуживались в официальных сервисных центрах, в них заливали качественное хорошее топливо. Поэтому все детали, двигателя, запчасти и комплектующие у нас представлены в высоком качестве, покупая оригинальную бу деталь Вы можете быть уверены что она идеально станет на Ваш Мерседес Спринтер и её не придется подгонять по зазорам, в отличии от Китайской подделки. Наши постоянные клиенты знают об этом.
        .share
            span Поделиться
            include ../_blocks/_social-icon-list/_social-icon-list
