extends ../_templates/_text-page-templete
block title
    title Доставка
block main_content
    .section-content__container
        section.section.section_full.section-delivery
            h1.section__heading Доставка и оплата
            .text-block
                p.text-block-text Как заказать
                p.text-block-text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Страну продолжил заманивший они взобравшись текстов, агенство речью заголовок рыбного скатился встретил, свой рукопись все текст своих она журчит предупреждал?
                p.text-block-text Кака оплатить заказ
                p.text-block-text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись, обеспечивает, свою. Назад однажды вскоре то, большой имеет, имени оксмокс необходимыми до реторический домах обеспечивает свое над курсивных всеми?
                p.text-block-text Как заказать
                p.text-block-text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Страну продолжил заманивший они взобравшись текстов, агенство речью заголовок рыбного скатился встретил, свой рукопись все текст своих она журчит предупреждал?
                p.text-block-text Кака оплатить заказ
                p.text-block-text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись, обеспечивает, свою. Назад однажды вскоре то, большой имеет, имени оксмокс необходимыми до реторический домах обеспечивает свое над курсивных всеми?
                p.text-block-text Как заказать
                p.text-block-text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Страну продолжил заманивший они взобравшись текстов, агенство речью заголовок рыбного скатился встретил, свой рукопись все текст своих она журчит предупреждал?
                p.text-block-text Кака оплатить заказ
                p.text-block-text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись, обеспечивает, свою. Назад однажды вскоре то, большой имеет, имени оксмокс необходимыми до реторический домах обеспечивает свое над курсивных всеми?
                p.text-block-text Как заказать
                p.text-block-text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Страну продолжил заманивший они взобравшись текстов, агенство речью заголовок рыбного скатился встретил, свой рукопись все текст своих она журчит предупреждал?
                p.text-block-text Кака оплатить заказ
                p.text-block-text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись, обеспечивает, свою. Назад однажды вскоре то, большой имеет, имени оксмокс необходимыми до реторический домах обеспечивает свое над курсивных всеми?

