extends ../_templates/_text-page-templete
block title
    title Упаковка
block main_content
    .section-content__container
        section.section.section_full.section-article
            p.section__heading Упаковка
            image.section-article-image(src="img/articles/article-image.png")
            .text-block
                p.text-block-text Уважаемые Клиенты мы отправляем заказы по всем городам и населенным пунктам Украины. Работаем в сфере продаж авто запчастей с 2000 г. и имеем большой опыт в качественной доставке товара к покупателю.
                p.text-block-text Мы не один год сотрудничаем со службами доставки Украины по этому Вы можете не переживать о сохранности Вашего заказа, а также о целости так как перед отправкой каждый заказ тщательно упаковывается нашими сотрудниками
                p.text-block-text Все заказы Вы получите точно в срок надежно защищенными от повреждений.