<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //- link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css")
        //- link(rel="stylesheet" href="fonts/font-icons/css/font-icons.css")
        //- link(rel="stylesheet" href="libs/owl-carousel-js/owl.carousel.css")
        link(rel="stylesheet" href="css/index.css")
        block suctom_css
        block title
    body.home-page
        - var leftMenu = 0
        include ../_blocks/_header-page/_header-page
        include ../_blocks/_mobile-menu/_mobile-menu
        include ../_blocks/_search-navigation/_search-navigation
        section.section-content.container
            .section-content__container
                .top-content
                    include ../_blocks/_left-navigation/_left-navigation
                    include ../_blocks/_slider/_slider
                main.main-content
                    block main_content
                .text-block
                    p.text-block-heading Разборка микроавтобусов DanLer
                    p.text-block-text Разборка авто Danler - это разборка Европейских микроавтобусов на оригинальные запчасти. Мы работаем на рынке автозапчастей с 2000 года и можем предложить Вам широкий ассортимент оригинальных б/у запчастей на: Mercedes Sprinter с 1996 по 2006 г.в. 2.3 sdi, 2.9 tdi, 2.2 cdi, 2.7 cdi, Mercedes Vito 638, 639с 1999 по 2006 г.в. 2.2 cdi Volkswagen LT 28, LT 35, LT 46 с 1996 по 2006 г.в. 2.5 tdi, 2.8 tdi 2.8 cdi, Volkswagen Transporter T4 с 1996 по 2003 г.в. 1.9 tdi, 2.5 tdi Reno Trafic с 2001 по 2014 г.в.  1.9 dci, 2.5 dci, Opel Vivaro 1.9 dci, 2.5 dci с 2001 по 2014 г.в. 1.9 dci. 2.5 dci.
        include ../_blocks/_footer-page/_footer-page
        script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js")
        script(src="libs/jquery-maskedinput/jquery-maskedinput.js")
        script(src="js/main.js")
        block custom_scripts

        include ../_blocks/_popups/_popup-callback
