<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="fonts/font-icons/css/font-icons.css")
        block suctom_css
        link(rel="stylesheet" href="css/index.css")
        block title
        script(src="libs/vuejs/vue.js")
    body.products-page
        - var leftMenu = 1 
        include ../_blocks/_header-page/_header-page
        include ../_blocks/_mobile-menu/_mobile-menu
        include ../_blocks/_search-navigation/_search-navigation
        section.section-content.section-content_no-pad.container
            .section-content__container
                include ../_blocks/_left-navigation/_left-navigation
                block main_content
        include ../_blocks/_footer-page/_footer-page
        script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js")
        script(src="libs/jquery-maskedinput/jquery-maskedinput.js")
        script(src="libs/vuejs/vue.js")
        script(src="js/main.js")
        block custom_scripts

        include ../_blocks/_popups/_popup-callback
