ul.social-icon-list
    li.social-icon-item: a.social-icon-link(href="#" title="Поделиться"): i.social-icon-pic.icon-facebook
    li.social-icon-item: a.social-icon-link(href="#" title="Поделиться"): i.social-icon-pic.icon-gplus
    li.social-icon-item: a.social-icon-link(href="#" title="Поделиться"): i.social-icon-pic.icon-odnoklassniki
    li.social-icon-item: a.social-icon-link(href="#" title="Поделиться"): i.social-icon-pic.icon-twitter
    li.social-icon-item: a.social-icon-link(href="#" title="Поделиться"): i.social-icon-pic.icon-vkontakte
    li.social-icon-item: a.social-icon-link(href="#" title="Поделиться"): i.social-icon-pic.icon-at
