extends ../index

block variables
    - var title = 'Отзывы'

mixin reviewsItem()
    .reviews__item
        .reviews__left
            span.reviews__avatar
                img(src="http://via.placeholder.com/100x100/2f2f2f", alt="")

            .reviews__wrap
                span.reviews__name Иван Петрович
                span.reviews__date 31.05.2017
                a.reviews__link(href="https://www.facebook.com/") fb.com/id 1234567
        .reviews__right
            p.reviews__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eveniet quae rem dicta, minima doloribus repellendus nobis cum consequatur eos! Nostrum voluptatibus aliquid alias aspernatur quis dicta, harum sed. Nobis quasi commodi repudiandae ab, at nisi tenetur ipsum sed autem. Sed ex est rem iusto voluptatem eaque vitae minus quidem.
            //- span.reviews-list__title Фото полученного товара:
            //- ul.reviews-list__img-list
            //-     - for(var l = 0; l < 6; l++)
            //-         li.reviews-list__img-item
            //-             img.reviews-list__img(src="http://via.placeholder.com/120x90", alt="")
            //-             span.reviews-list__img-wrap
            //-                 img.reviews-list__img_large(src="http://via.placeholder.com/600x450", alt="")

block content
    
    include ../../components/search/search

    section.reviews
        .reviews__container.container.content

            main.reviews__content#reviews
                include ../../components/breadcrumbs/breadcrumbs

                h1.reviews__heading Отзывы

                .reviews__add-wrap

                    a.reviews__add.btn.btn_accent.link(@click="visabilityForm")
                        svg.reviews__add-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="25" viewBox="0 0 28 32" xml:space="preserve")
                            path(d="M6,28H0v-6L6,28z M28,6L8,26l-6-6L22,0L28,6z")
                            path(d="M0,32v-2h22v2H0z")

                        | Добавить отзыв

                    .reviews__form(v-if="visibleForm")
                        label.reviews__avatar
                            img(src="http://via.placeholder.com/100x100/2f2f2f", alt="")
                            input(type="file")
                        
                        .reviews__group
                            input.reviews__field.field(type="text" placeholder="Ваше имя")

                        .reviews__group
                            input.reviews__field.field(type="text" placeholder="Ссылка на отзыв")

                        .reviews__group
                            textarea.reviews__area.textarea(placeholder="Текст отзыва")

                        a.reviews__submit.btn.btn_accent.link(href="javascript:;") Добавить отзыв

                .reviews__list
                    - for(var i = 0; i < 4; i++ )
                        +reviewsItem()

                include ../../components/pagination/pagination