@import '../../style/default.sass'
@import '../../components/header/header.sass'
@import '../../components/basket/basket.sass'
@import '../../components/dialog/dialog.sass'
@import '../../components/search/search.sass'
@import '../../components/sidebar/sidebar.sass'
@import '../../components/breadcrumbs/breadcrumbs.sass'
@import '../../components/footer/footer.sass'

.card
    
    &__container, &__info
        display: flex

    &__content
        width: 100%
        padding: 15px
        background-color: bg-color(white)
        border: 1px solid bg-color(grey-light)
        margin-bottom: 40px

    &__carousel
        flex-grow: 2
        margin-right: 30px
        flex-shrink: 0
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        align-content: flex-start

    &__info
        margin-bottom: 30px

        &-item
            width: calc(100% / 5 - 10px)
            cursor: pointer

            &:first-child
                +size(100%, auto)
                margin-bottom: 10px

            img
                +size(100%)

    &__heading
        font-size: rem(20px)
        line-height: rem(26px)
        color: text-color(dark)
        font-weight: 400
        overflow: hidden

    &__product
        position: relative

        &-items
            margin-bottom: 25px

        &-item
            color: text-color(dark)
            +alignment($jc: between)
            border-bottom: 1px solid bg-color(accent)
            padding-bottom: 10px
            margin-bottom: 10px

        &-value.true
            color: text-color(access)

        &-value.false
            color: text-color(error)

    &__btns
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        position: relative

    &__buy, &__callback
        align-items: center
        justify-content: center

    &__buy
        color: text-color(dark)
        margin-bottom: 15px
        width: 100%

        img
            margin-right: 10px

    &__callback
        width: calc(50% - 15px)
        color: text-color(hover)
        font-size: rem(16px)

        &.active
            background-color: bg-color(main-light)

    &__phones-wrap
        position: relative

    &__phones
        position: absolute
        top: calc(100% + 15px)
        left: 0
        width: 100%
        background-color: bg-color(main-light)
        border-radius: 5px
        padding: 15px

        &:before
            content: ''
            display: flex
            +size(20px)
            position: absolute
            top: -10px
            transform: rotate(45deg)
            right: 30px
            background-color: bg-color(main-light)

    &__phone
        margin-bottom: 15px

        &:last-child
            margin-bottom: 0

        *
            color: text-color(light)
            +transition()

        &:hover *, &:active *
            color: text-color(hover)

    &__about
        background-color: bg-color(white)

        &-desc, &-heading
            margin-bottom: 15px

        &-heading
            font-weight: 700
            display: inline-flex

        &-item
            display: flex
            padding: 5px 10px
            align-items: center

            &:nth-child(even)
                background-color: bg-color(grey-light)

        &-title
            width: 150px
            margin-right: 15px
            flex-shrink: 0

    &__tabs
        display: flex

    &__tab
        color: text-color(light)
        text-transform: uppercase
        padding: 0 15px
        height: 45px
        background-color: bg-color(grey-dark)
        +alignment()
        cursor: pointer
        +transition()

    &__tab-content
        color: text-color(dark)
        font-size: rem(16px)
        line-height: rem(22px)
        border: 1px solid bg-color(main)
        padding: 15px

    &__inputs
        display: flex

    &__form-group
        position: relative

    &__input, &__area
        width: 100%

    &__send
        justify-content: center
        align-items: center
        margin-left: auto
        max-width: $xs - 30

    &__socials
        display: flex
        padding: 15px 0
        justify-content: flex-end

    &__social
        margin-left: 5px

        &:first-child
            margin-left: 0

    &__link
        border-radius: 5px
        +size(25px)
        +alignment()
        +transition()

        svg
            height: 50%
            fill: bg-color(white)

        &_fb
            background-color: map-get($social-color, facebook)

            &:hover
                background-color: lighten(map-get($social-color, facebook), 10%)

        &_tw
            background-color: map-get($social-color, twitter)

            &:hover
                background-color: lighten(map-get($social-color, twitter), 10%)

        &_vk
            background-color: map-get($social-color, vk)

            &:hover
                background-color: lighten(map-get($social-color, vk), 10%)

        &_gp
            background-color: map-get($social-color, google-plus)

            &:hover
                background-color: lighten(map-get($social-color, google-plus), 10%)

    &__analog

        &-heading
            font-size: rem(20px)
            font-weight: 700
            padding: 15px 0
            color: text-color(dark)

        &-list
            display: flex
            flex-wrap: wrap

        &-item
            padding: 10px
            border-radius: 5px
            border: 1px solid bg-color(grey-light)
            +transition()

            &:hover
                border-color: bg-color(accent)

        &-image
            display: block

            img
                +size(100%)

        &-title
            font-size: rem(14px)
            line-height: rem(20px)
            height: 40px
            overflow: hidden
            margin-bottom: 25px
            display: inline-flex
            color: text-color(dark)

        &-link
            align-items: center
            justify-content: center
            color: text-color(light)
            
            span
                margin-right: 10px
                position: relative
                display: inline-flex
                +size(25px)

                &:before, &:after
                    content: ''
                    display: flex
                    +size(50%, 2px)
                    background-color: bg-color(accent)
                    position: absolute
                    top: 12px
                    left: 8px

                &:after
                    transform: rotate(90deg)

+media-breakpoint-up(breakpoints(xl))
    .card

        &__analog
    
            &-list
                justify-content: space-between

            &-item
                width: calc(100% / 3 - 15px)

+media-breakpoint-up(breakpoints(md))
    .card

        &__heading
            font-size: rem(20px)
            line-height: rem(26px)
            height: 52px

        &__tab
            margin-right: 30px
            border-top-left-radius: 5px
            border-top-right-radius: 5px
            border-bottom-width: 3px
            border-bottom-style: solid
            border-bottom-color: transparent

            &:last-child
                margin-right: 0

            &.active, &:hover, &:active
                border-bottom-color: bg-color(main-light)

        &__inputs
            justify-content: space-between
            margin-bottom: 30px

        &__input-wrap
            width: calc(100% / 3 - 15px)

        &__area
            margin-bottom: 30px

+media-breakpoint-up(breakpoints(sm))
    .card

        &__heading
            margin-bottom: 20px

        &__carousel, &__product
            width: calc(50% - 15px)

+media-breakpoint-between(breakpoints(md), breakpoints(xl))
    .card

        &__analog
        
            &-item
                width: calc(100% / 2 - 15px)
                margin-bottom: 30px

                &:nth-child(odd)
                    margin-right: 30px

+media-breakpoint-between(breakpoints(sm), breakpoints(md))
    .card

        &__analog
        
            &-item
                width: calc(100% / 2 - 15px)
                margin-bottom: 30px

                &:nth-child(odd)
                    margin-right: 15px


+media-breakpoint-down(breakpoints(lg))
    .card

        &__content
            border-radius: 0 0 5px 5px

+media-breakpoint-down(breakpoints(md))
    .card

        &__heading
            font-size: rem(16px)
            line-height: rem(20px)
            height: 60px

        &__product

            &-items
                font-size: rem(14px)

        &__tabs
            flex-direction: column

        &__tab
            width: 100%
            border-radius: 5px
            margin-bottom: 15px

            &:last-child
                margin-bottom: 0

        &__inputs
            flex-direction: column

        &__input-wrap
            width: 100%

        &__form-group
            margin-bottom: 30px

+media-breakpoint-down(breakpoints(sm))
    .card

        &__info
            flex-wrap: wrap

        &__carousel, &__product
            width: 100%

        &__carousel
            margin-bottom: 10px

        &__analog
        
            &-item
                width: 100%
                margin-bottom: 30px


