.btn
    display: block
    height: 45px
    box-sizing: border-box
    border: 0
    font-size: rem(16px)
    cursor: pointer
    outline: none

    &_accent
        border-radius: 5px
        background-color: $hoverLink
        font-weight: 600
        text-transform: uppercase