.field
    height: 45px
    border: 1px solid $darkGrey 
    border-radius: 5px
    padding: 0 20px
    box-sizing: border-box
    color: $bodyColor
    outline: none
    font-size: rem(16px)
    font-family: $baseff

    &:focus
        border-color: $bodyColor
        