mixin dropMenu(id, value)
    label(for=id) #{value}
        input(type="radio" id=id name="dropp" value=value)

.container
    section.search-navigation
        .catalog-heading Каталог
        form.search-form
            .dropp
                div.dropp-header
                    span.dropp-header-title.js-value Все модели
                    a.dropp-header-btn.js-dropp-action(href="#")
                        i.icon-down-open-big
                div.dropp-body
                    +dropMenu("mercedes-sprinter", "Mercedes Sprinter")
                    +dropMenu("mercedes-vito", "Mercedes Vito")
                    +dropMenu("opel-vivaro", "Opel Vivaro")
                    +dropMenu("renault-trafic", "Renault Trafic")
                    +dropMenu("volkswagen-lt", "Volkswagen LT")
                    +dropMenu("volkswagen-t4", "Volkswagen T4")
            .search-panel
                input.search-input(type="text" form="search-form" name="search-field" placeholder="Введите название")
                button.submit(type="submit")
                    span.icon-search

        include ../_basket/_basket
