.pagination
    ul.pagination-list
        li.pagination-item.pagination-item-prev
            a.pagination-link(href="#")
                span.icon-left-open-big
        li.pagination-item.pagination-item-active
            a.pagination-link.pagination-link-active(href="#") 1
        li.pagination-item
            a.pagination-link(href="#") 2
        li.pagination-item.pagination-item-next
            a.pagination-link(href="#")
                span.icon-right-open-big