- 
    var menu = [
        {

        }
    ];

mixin menuList(title, link, name)
    li.menu-item(class={active: name === pageName})
        a.menu-item-link(href=link) #{title}

ul.menu-list
    +menuList("Главная", "index.html", "index")
    +menuList("Доставка и оплата", "delivery.html", "delivery")
    +menuList("Упаковка", "packaging.html", "packaging")
    +menuList("Статьи", "articles.html", "articles")
    +menuList("Контакты", "contact-info.html", "contact")
    +menuList("Отзывы", "reviews.html", "reviews")