section.section-banner
	.section-banner__first.banner-first
		span.banner-first__icon
			img(src="img/banners/banners-1.png", alt="")
		p.banner-first__heading Авторазборка - ваш выбор
		p.banner-first__description У нас вы можете купить исключительно оригинальные б/у запчасти, по доступной цене!
	.section-banner__second.banner-second
		span.banner-second__icon
			img(src="img/banners/banners-2.png", alt="")
		p.banner-second__heading Ищите запчасти?
		span.banner-second__description Устали менять китайские подделки, а новые оригинальные запчасти слишком дорого?