extends ../index

block variables
    - var title = 'Главная'
//- block main_content
//-     - var pageName = "index"
//-     h1.main-heading Магазин авторазборки
//-     include ../_blocks/_last-products/_last-products
//-     include ../_blocks/_video/_video
//-     include ../_blocks/_excellence/_excellence
//-     h2.second-heading Почему нам можно доверять?
//-     ul.accordion-tabs-minimal
//-         li.tab-header-and-content
//-             a(href="#").tab-link Опыт
//-                 svg.triangle
//-                     polygon(points="0,0 20,0 10,20")
//-             .tab-content
//-                 .image
//-                     img.image-pic(src="img/tabs-pic-1.png", alt="")
//-                 .text
//-                     svg.line.before-line
//-                         line(x1="0" y1="0" x2="100" y2="0")
//-                         line(x1="0" y1="0" x2="0" y2="50")
//-                     p Специфика работы нашей разборки во многом отличается от других авто разборок Украины которые разбирают все марки автомобилей. Работы в определённой категории можем предложить своему клиенту лучшие запчасти.
//-                         svg.line.after-line
//-                             line(x1="0" y1="50" x2="100" y2="50")
//-                             line(x1="100" y1="0" x2="100" y2="50")
//-                         svg.line.after-line-second
//-                             line(x1="0" y1="50" x2="100" y2="50")
//-                             line(x1="100" y1="0" x2="100" y2="50")
//-         li.tab-header-and-content
//-             a(href="#").tab-link Качество
//-                 svg.triangle
//-                     polygon(points="0,0 20,0 10,20")
//-             .tab-content
//-                 .image
//-                     img.image-pic(src="img/tabs-pic-1.png", alt="")
//-                 .text
//-                     svg.line.before-line
//-                         line(x1="0" y1="0" x2="100" y2="0")
//-                         line(x1="0" y1="0" x2="0" y2="50")
//-                     p Специфика работы нашей разборки во многом отличается от других авто разборок Украины которые разбирают все марки автомобилей. Работы в определённой категории можем предложить своему клиенту лучшие запчасти.
//-                         svg.line.after-line
//-                             line(x1="0" y1="50" x2="100" y2="50")
//-                             line(x1="100" y1="0" x2="100" y2="50")
//-                         svg.line.after-line-second
//-                             line(x1="0" y1="50" x2="100" y2="50")
//-                             line(x1="100" y1="0" x2="100" y2="50")
//-         li.tab-header-and-content
//-             a(href="#").tab-link Цена
//-                 svg.triangle
//-                     polygon(points="0,0 20,0 10,20")
//-             .tab-content
//-                 .image
//-                     img.image-pic(src="img/tabs-pic-1.png", alt="")
//-                 .text
//-                     svg.line.before-line
//-                         line(x1="0" y1="0" x2="100" y2="0")
//-                         line(x1="0" y1="0" x2="0" y2="50")
//-                     p Специфика работы нашей разборки во многом отличается от других авто разборок Украины которые разбирают все марки автомобилей. Работы в определённой категории можем предложить своему клиенту лучшие запчасти.
//-                         svg.line.after-line
//-                             line(x1="0" y1="50" x2="100" y2="50")
//-                             line(x1="100" y1="0" x2="100" y2="50")
//-                         svg.line.after-line-second
//-                             line(x1="0" y1="50" x2="100" y2="50")
//-                             line(x1="100" y1="0" x2="100" y2="50")
//-         li.tab-header-and-content
//-             a(href="#").tab-link Надёжность
//-                 svg.triangle
//-                     polygon(points="0,0 20,0 10,20")
//-             .tab-content
//-                 .image
//-                     img.image-pic(src="img/tabs-pic-1.png", alt="")
//-                 .text
//-                     svg.line.before-line
//-                         line(x1="0" y1="0" x2="100" y2="0")
//-                         line(x1="0" y1="0" x2="0" y2="50")
//-                     p Специфика работы нашей разборки во многом отличается от других авто разборок Украины которые разбирают все марки автомобилей. Работы в определённой категории можем предложить своему клиенту лучшие запчасти.
//-                         svg.line.after-line
//-                             line(x1="0" y1="50" x2="100" y2="50")
//-                             line(x1="100" y1="0" x2="100" y2="50")
//-                         svg.line.after-line-second
//-                             line(x1="0" y1="50" x2="100" y2="50")
//-                             line(x1="100" y1="0" x2="100" y2="50")
//-     include ../_blocks/_reviews/_reviews


//- block append custom_scripts
//-     script(src="libs/owl-carousel-js/owl.carousel.min.js")
//-     script(src="libs/typed/typed.min.js")
//-     script(src="js/index-page.js")
